.footer {
    color: #fff;

    .container {
        background: $base-color;
        padding: 1rem 0 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include breakpoint-up(large) {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-around;
        }

        .footer__social {
            h2 {
                cursor: pointer;
                transition: all 150ms ease-in-out;

                &:hover {
                    color: $focus-color;
                }
            }

            .icons {
                margin-top: 2rem;
            }

            a {
                &:not(:last-child) {
                    margin-right: 0.625rem;
                }

                svg path {
                    transition: fill 150ms ease-in-out;
                }

                &:hover svg path {
                    fill: $focus-color;
                }
            }
        }

        .footer__links {
            display: flex;
            flex-direction: column;
            margin: 1rem;
            text-align: center;

            &:nth-child(3) {
                margin-top: 0;
            }

            @include breakpoint-up(large) {
                margin: 0;
                text-align: justify;
            }

            a {
                font-size: 15px;
                color: #fff;

                &:not(:last-child) {
                    margin-bottom: 0.625rem;
                }

                &:hover {
                    color: $focus-color;
                }
            }
        }

        .footer__copy {
            .btn {
                margin: auto;
            }

            p {
                color: #9698A6;
                font-size: 13px;
                margin-top: 2rem;
            }
        }
    }
}