body {
    margin: 0;
    padding: 0;
    font-family: $base-font;
    box-sizing: border-box;
}

h2 {
    font-family: $heading-font;
}

a {
    text-decoration: none;
    color: $base-color;

    &:hover {
        color: $focus-color;
    }
}

.btn {
    display: block;
    width: 6.875rem;
    padding: 8px 13px;
    background: $focus-color;
    color: #fff;
    border-radius: 5px;
    transition: all 300ms ease-in-out;

    &:hover {
        background: #5ab5ff8e;
    }
}