.hero {
    padding: 1rem;
    margin: auto;
    background: #668298;
    color: #fff;
    display: flex;
    flex-direction: column;

    @include breakpoint-up(large) {
        flex-direction: row;
        padding: 0 4rem;
    }

    &__text {
        flex: 1;
        align-self: center;
        margin-bottom: 2rem;

        @include breakpoint-up(large) {
            margin-bottom: 0;
        }

        h2 {
            margin: 0;
            text-align: center;

            @include breakpoint-up(large) {
                text-align: justify;
                font-size: 3.125rem;
            }
        }

        p {
            line-height: 1.8;

            @include breakpoint-up(large) {
                width: 29.375rem;
            }
        }
    }

    &__image {
        flex: 1;

        img {
            width: 100%;
            margin-bottom: -1.2rem;

            @include breakpoint-up(large) {
                margin-bottom: -4px;
            }
        }
    }
}