.upload-form {
    width: 90%;
    margin: 3rem auto 2rem;
    background: beige;
    border-radius: .25rem;
    padding: 5px 0;

    @include breakpoint-up(medium) {
        width: 70%;
        padding: 1.25rem 1.25rem 0.625rem;
        margin: 4rem auto 2rem;
    }

    h2 {
        text-align: center;
    }

    .form-control {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin: 25px;

        @include breakpoint-up(medium) {
            flex-direction: row;
        }

        label {
            flex: 1;
            text-shadow: 0px 0px 1px;
            margin-bottom: 0.625rem;

            @include breakpoint-up(medium) {
                margin-bottom: 0;
            }
        }

        input,
        textarea {
            flex: 4;
            border: 1px solid $base-color;
            border-radius: .25rem;
            padding: 0.625rem;
            outline: none;
            font-size: 1rem;
            resize: none;
            width: 95%;

            @include breakpoint-up(medium) {
                width: auto;
            }

            &:focus {
                border: 1px solid $focus-color;
            }
        }


        input::placeholder {
            font-family: monospace;
        }

        input[type="submit"] {
            flex: 0;
            margin-left: auto;
            cursor: pointer;
            background: $focus-color;
            color: #fff;
            transition: all 300ms ease-in-out;
            border: 1px solid $focus-color;
            width: 35%;

            @include breakpoint-up(medium) {
                width: auto;
            }

            &:hover {
                background: #198ceb;
            }
        }
    }
}