@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Fauna+One&display=swap');

// Fonts
$heading-font: 'Cinzel Decorative',
cursive;
$base-font: 'Fauna One',
serif;

// Colors
$base-color:#51697A;
$focus-color:#5AB5FF;